.imageElement {
  position: absolute;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageElement:hover {
  outline: 1px solid #aaa;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}